<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= cs
    <%= yield %>
  </body>
</html>
